.footer {
  padding: 16px 80px;
  display: flex;
  justify-content: space-between;
  &__main {
    width: 50%;
  }
  &__logo {
    width: 100%;
    max-width: 200px;
  }
  &__address {
    font-size: 12px;
  }

  &__pages {
    width: 25%;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__sns {
    width: 25%;
    display: flex;
    flex-direction: row;
  }

  &__icon {
    padding: 0 8px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
