footer.footer
  .footer__main
    a(href="/")
      img(src="../../images/logo/lg-logo.png" alt="logo image").footer__logo
    .footer__address 佐賀県佐賀市水ケ江1-6-32
      br
      |おへそこども園内
      br
      |TEL：0952-37-0033
      br
      |FAX：0952-37-0035
    .footer__copy
      small &copy; 2020 mochimochi-nursery inc.
  .footer__pages
    a(href="/guide") 入園案内
    a(href="/care") 保育について
    a(href="/nutrition") 食育について
    a(href="/news") お知らせ
    a(href="/access") アクセス
  .footer__sns
    .footer__icon
      img(src="../images/icon/twitter.svg" alt="twitter icon")
    .footer__icon
      img(src="../images/icon/instagram.svg" alt="instagram icon")
    .footer__icon
      img(src="../images/icon/facebook.svg" alt="facebook icon")
