footer.footer
  .footer__main
    a(href="/")
      img(src="../../images/logo/lg-logo.png" alt="logo image").footer__logo
    .footer__pages
      a(href="/guide") 入園案内
      a(href="/care") 保育について
      a(href="/nutrition") 食育について
      a(href="/news") お知らせ
      a(href="/access") アクセス
    .footer__sns
      .footer__icon
        img(src="../images/icon/twitter.svg" alt="twitter icon")
      .footer__icon
        img(src="../images/icon/instagram.svg" alt="instagram icon")
      .footer__icon
        img(src="../images/icon/facebook.svg" alt="facebook icon")
  .footer__sub
    .footer__contact お問い合わせ
    hr.footer__hr
    .footer__address
      |北海道茂地群茂地町１－１－１　もちもち保育園
      br
      |TEL：0000-00-0000
      br
      |FAX：0000-00-0000
  .footer__copy
    small &copy; 2020 mochimochi-nursery inc.
