footer.footer
  .footer__main
    a(href="/")
      img(src="../../images/logo/lg-logo.png" alt="logo image").footer__logo
    .footer__address 佐賀県佐賀市水ケ江1-6-32
      br
      |おへそこども園内
      br
      |TEL：0952-37-0033
      br
      |FAX：0952-37-0035
