- var title = "もちもち保育園";

- var image_path = '/images'
- var css_path = '/css'
- var js_path = '/js'
- var domain = 'https://example.com/'
- 
  var pages = {
    home : {
      url : 'index.html',
      name : 'トップページ',
      title : title,
      description : 'トップページのdescription',
    },
    guide : {
      url : '/guide/index.html',
      name : '入園案内',
      title : title + " | 入園案内",
      description : '入園案内のdescription',
    },
    care : {
      url : '/care/index.html',
      name : '保育について',
      title : title + " | 保育について",
      description : '保育についてのdescription',
    },
    nutrition : {
      url : '/nutrition/index.html',
      name : '食育について',
      title : title + " | 食育について",
      description : '食育についてのdescription',
    },
    news : {
      url : '/news/index.html',
      name : 'お知らせ',
      title : title + " | お知らせ",
      description : 'お知らせのdescription',
    },
    access : {
      url : '/access/index.html',
      name : 'アクセス',
      title : title + " | アクセス",
      description : 'アクセスのdescription',
    },
  }
