extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "nutrition"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja 食育について
      .title__en Nutrition Education
    .hero
      .hero__image--nutrition