extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "guide"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja 入園案内
      .title__en Entrance Guide
    .hero
      .hero__image--guide