extends ./layouts/_home.pug

block vars
  include _config.pug
  - var key = "home"
  - var page = pages[key]
  
block contents
  .container
    .hero
      img(src="../../images/top/main.jpg", alt="hero img").hero__img
      .hero__caption
        div.hero__cap--one すくすく
        div.hero__cap--two のびのび
        div.hero__cap--three もちもち

