extends layouts/_home.pug

block vars
  include _config.pug
  - var key = "home"
  - var page = pages[key]

block contents
  .container

    .hero
      .hero__img
      .hero__caption
        .hero__cap--one すくすく
        .hero__cap--two のびのび
        .hero__cap--three もちもち
      a(href="#").hero__scroll Scroll
      .hero__sns
        .hero__icon--twitter
          img(src="../images/icon/twitter.svg" alt="twitter icon")
        .hero__icon--instagram
          img(src="../images/icon/instagram.svg" alt="instagram icon")
        .hero__icon--facebook
          img(src="../images/icon/facebook.svg" alt="facebook icon")

    .message
      h2.message__title
        |そらいろは
        br
        |おきつへに
        br
        |ほふねむれ
        br
        |もやのうち
      p.message__subtitle MOCHIMOCHI CONCEPT
      .message__text
        p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        p またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。
      .swiper-container
        .swiper-wrapper
          div(style="background-image:url(../images/top/slide/slide1.jpg)").swiper-slide
          div(style="background-image:url(../images/top/slide/slide2.jpg)").swiper-slide
          div(style="background-image:url(../images/top/slide/slide3.jpg)").swiper-slide
        .swiper-pagination
    
    .concept
      h2.concept__title もちもち保育園のこだわり
      .concept__message 
        p 
          | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、
          br
          | うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        p
          | またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、
          br
          | 地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、
          br
          | みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、
          br 
          |しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。
      .concept__box
        .concept__card
          .concept__thumbnail--one
          .concept__card-title hoge
          .concept__card-text aiaiaiaiaiai
        .concept__card
          .concept__thumbnail--two
          .concept__card-title hoge
          .concept__card-text aiaiaiaiaiai
        .concept__card
          .concept__thumbnail--three
          .concept__card-title hoge
          .concept__card-text aiaiaiaiaiai
        .concept__card
          .concept__thumbnail--four
          .concept__card-title hoge
          .concept__card-text aiaiaiaiaiai
