extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "care"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja 保育について
      .title__en About Childcare
    .hero
      .hero__image--care