extends ../layouts/_pages.pug

block vars
  include ../_config.pug
  - var key = "access"
  - var page = pages[key]

block contents
  .container
    h1.title
      .title__ja アクセス
      .title__en Access
    .hero
      .hero__image--access