@import "./settings/config";

@import "./mixin/mediaQuery";

@import "./components/header";
@import "./components/nav";
@import "./components/tpTop";

body {
  margin: 0;
  font-family: $yu;
}

.container {
  padding-top: 150px;
  @include tablet {
    padding-top: 100px;
  }
}

.hero {
  padding-right: 15%;
  position: relative;
  height: calc(100vh - 150px);
  overflow: hidden;
  @include tablet {
    padding-right: 20%;
    height: calc(100vh - 100px);
  }
  @include mobile {
    padding-right: 25%;
    height: calc(100vh - 100px);
  }

  &__img {
    width: 100%;
    height: 100%;
    background-image: url("../images/top/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 90px 0 0;
  }

  &__caption {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  @mixin cap {
    font-size: 44px;
    margin-bottom: 40px;
    letter-spacing: 5px;
    font-family: $kosugi;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &__cap {
    &--one {
      @include cap;
    }

    &--two {
      @include cap;
      animation-delay: 0.5s;
    }

    &--three {
      @include cap;
      animation-delay: 1s;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__scroll {
    display: inline-block;
    position: absolute;
    right: 12%;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: $yu;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    @include tablet {
      right: 15%;
    }
    @include mobile {
      right: 16%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100px;
      background: #000;
    }
    &::after {
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }
  }
  @keyframes sdl {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
  &__sns {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  @mixin icon {
    height: 30px;
    padding: 5px;
    cursor: pointer;
    opacity: 0;
    animation-name: surfacing;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    img {
      width: 30px;
    }
  }

  &__icon {
    &--twitter {
      @include icon;
    }

    &--instagram {
      @include icon;
      animation-delay: 1.6s;
    }

    &--facebook {
      @include icon;
      animation-delay: 1.7s;
    }
  }

  @keyframes surfacing {
    from {
      opacity: 0;
      transform: translate(100px) rotate(225deg);
    }

    to {
      opacity: 1;
      transform: translate(0) rotate(0);
    }
  }
}

.message {
  padding: 5em 15%;
  position: relative;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    background: #eaf5fa;
    width: 50%;
    height: 600px;
    z-index: -1;
  }
  &__title {
    writing-mode: vertical-lr;
    line-height: 64px;
    font-size: 48px;
    letter-spacing: 15px;
    font-family: $kosugi;
    margin-left: 0;
    margin-bottom: 40px;
  }
  &__subtitle {
    position: absolute;
    right: 40%;
    top: 200px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: $Montserrat;
    @include tablet {
      top: 385px;
      left: 15%;
      right: inherit;
    }
  }
  &__text {
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.95;
    @include tablet {
      max-width: inherit;
    }
  }
  .swiper-container {
    width: 50%;
    height: 400px;
    position: absolute;
    bottom: 100px;
    right: 50px;
    padding-left: 30px;
    @include tablet {
      position: relative;
      bottom: inherit;
      right: inherit;
      left: -30px;
      width: 100%;
    }
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: inherit;
    top: inherit;
    left: 10px;
    bottom: 0;
    transform: translate3d(0px, -50%, 0);
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
}

@mixin circle {
  color: #fff;
  padding: 5%;
  width: 20px;
  height: 20px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
  @include mobile {
    margin: 0 -5px;
  }
}

.circle-line {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  &__one {
    @include circle;
    background: #f66;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  }
  &__two {
    @include circle;
    background: #f92;
    border-radius: 80% 30% 50% 50%/50%;
  }
  &__three {
    @include circle;
    background: #fc2;
    border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  }
}

.concept {
  text-align: center;
  background: #eaf5fa;
  position: relative;
  padding: 50px;
  @include mobile {
    padding: 25px;
  }

  &__title {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    color: #3576b3;
    font-size: 32px;
    letter-spacing: 2px;
    @include mobile {
      font-size: 24px;
      width: 100%;
      top: -40px;
    }
  }
  &__message {
    line-height: 32px;
    font-weight: bold;
    @include mobile {
      font-size: 16px;
    }
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  &__card {
    width: calc(100% / 4);
    min-height: 600px;
    box-sizing: border-box;
    padding: 24px;
    @include mobile {
      width: 100%;
    }
  }
  &__card-content {
    padding: 8px;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  @mixin thumbnail {
    min-height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  &__thumbnail {
    &--one {
      @include thumbnail;
      background-image: url("../images/top/concept/one.jpg");
    }
    &--two {
      @include thumbnail;
      background-image: url("../images/top/concept/two.jpg");
    }
    &--three {
      @include thumbnail;
      background-image: url("../images/top/concept/three.jpg");
    }
    &--four {
      @include thumbnail;
      background-image: url("../images/top/concept/four.jpg");
    }
  }
  &__card-title {
    color: #3576b3;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 16px 0;
  }
  &__card-text {
    font-weight: normal;
    letter-spacing: 2px;
    padding: 8px 16px;
    font-size: 14px;
    min-height: 250px;
  }
}
